{% load static %}
<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>chatbot test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
        <div class = 'chat-container'>
            
            <h1>Chatbot Escolar</h1>
            <div id = 'chat-box'></div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
                <button id="send-btn">Enviar</button>
            </div>

        </div>
        
        <script>

            document.getElementById("send-btn").addEventListener('click', async () =>{
                const userInput = document.getElementById("user-input").value;
                const chatBox = document.getElementById("chat-box");

                chatBox.innerHTML += `<div class = "user-message">Tú: ${userInput}</div>`;
                
                const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

                const response = await fetch('/', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken, //seguridad
                    },
                    body: `content=${encodeURIComponent(userInput)}&obj=${encodeURIComponent('speechToTxt')}`,

                });

                const data = await response.json();

                if (data.response){
                    chatBox.innerHTML += `<div class = 'bot-message'>Bot: ${data.response}</div>`;
                }else{
                    chatBox.innerHTML += `<div class = 'error-message'>Bot: ${data.error}</div>`;
                }

                document.getElementById('user-input').value = '';
            })

        </script>


    </body>
</html>